body{
    margin:0;
}  
.topo{
    height: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(2, 2, 154);
    width: 100%;
    box-sizing: border-box;
}
.menu{
    margin-left: auto;
    display: flex;
    gap: 40px;
}


.menu a{
    text-decoration: none;
    color: rgb(236, 98, 0);
}
header nav a:hover{
    text-decoration: underline;
    color:white;
    font-size: 17px;
    transition: 0.2s;
}


.candidato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    max-width: 100vw;
    box-sizing: border-box;
    padding: 40px 20px;
    gap: 40px;
}

.foto img {
    width: 247px;
    height: 247px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.foto {
  transition: transform 0.4s ease;
}

.foto img:hover{
    transform: scale(1.08);
}

.texto {
    max-width: 50%;
}

.lista {
    display: flex;          
    justify-content:center; 
    gap: 50px;
    margin-top: 30px;
}

.hobbies, .jogos {
    display: flex;
    flex-direction: column; 
    align-items: center;  
}
.hobbies{
    align-items: flex-end;
    text-align: right;
}
.jogos{
    align-items: flex-start;
    text-align: left;
}

.imagens-pai img {
  transition: transform 0.3s ease;
}

.imagens-pai img:hover {
  transform: scale(1.1);
  z-index: 10;
}
.imagens-pai {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px;
    max-width: 600px; 
}

.imagens-pai img {
    width: 110px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.contato {
    padding: 20px;
    margin: 20px auto;
    max-width: 1128px;
}

.letra{
    color:darkblue;
    padding-top: 60px;
}
.feedback {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-left: 40px;
}

.feedback textarea, 
.feedback input {
    width: 100%;      
    background-color: #c4d8ee;
    border: none;
    padding: 8px 12px; 
    box-sizing: border-box; 
    font-size: 14px;
}

.feedback textarea {
    height: 56px;            
    resize: none;
}

.feedback input {
    height: 56px;           
}
.feedback button {
    align-self: flex-end;
    padding: 5px 20px;
    background-color: #51b3f5;
    border: 1px solid #7f8c8d;
    cursor: pointer;
}
.feedback button:hover{
    text-decoration: underline;
    color:white;
    font-size: 17px;
    transition: 0.2s;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: rgb(2, 2, 154);
    display: flex; 
    justify-content: left; 
    align-items: center;
    padding-right: 40px;
    box-sizing: border-box;
}

.imagens {
    display: flex;
    gap: 5px;
padding: 0 60px}

.imagens img {
    height: 32px;
    width: 32px;
    display: block;
}
.footer button {
    margin-left: auto;  
    padding: 5px 20px;
    background-color: #82cbfb;
    border: 1px solid #7f8c8d;
    cursor: pointer;
    border-radius: 5px; 
}

.footer button:hover {
  transform: translateY(-3px); 
  box-shadow: black
}

/*RESPONSIVIDADE*/
    
@media screen and (max-width: 428px) {
    
.candidato {
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: 20px;
    }

 .texto {
        max-width: 100%;
        margin-top: 20px;
    }
.lista {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    width: 100%;
}
.imagens-pai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 180px;
}
.imagens-pai img {
    width: 80px;
    height: 110px;
    border-radius: 10px;
    object-fit: cover;
}
}